    

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" 
    data-bs-target="#staticBackdrop" (click)="addModal()">
    Add Inspections
  </button>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-secondary float-end m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Show Inspection Type Table
  </button>

<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Inspection Type</th>
        <th>Status</th>
        <th>Comments</th>
        <th>Options</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of inspectionList$|async">
            <td>{{item.id}}</td>
            <td>{{inspectionTypesMap.get(item.inspectionTypeId)}}</td>
            <!--<td>{{item.inspectionType.inspectionName}}</td> -->
            <!-- <td>{{item.inspectionTypeId}}</td> -->
            <td>{{item.status}}</td>
            <td>{{item.comments}}</td>
        </tr>
    </tbody>
</table>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Inspection Types</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p *ngFor="let type of inspectionTypesList$|async">{{type.id}} - {{type.inspectionName}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-add-edit-inspection [inspection]="inspection" *ngIf="activateAddEditInspectionComponent"></app-add-edit-inspection>
        </div>
      </div>
    </div>
  </div>